<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrier Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-row class="ion-justify-content-center">
  <ion-col size="10">
    <h4>Pagination Here</h4>
  </ion-col>
</ion-row> -->

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <h1>Carrier Profile</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" style="position: relative; top: -2px;">
      <form>
        <p class="red-asterisk">* <span style="font-size: 0.4em;
          margin: 0;
          position: relative;
          top: -20px;">Required</span></p>
        <ion-input #firstInput class="sign-up-input" type="text" placeholder="First Name"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="Last Name"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="phone" placeholder="Phone # (xxx)xxx-xxxx"></ion-input>

        <p class="section-description">Is this your <span style="font-weight: 700">preferred</span> contact number? When on your route, your preferred contact number is the number a Shipper or Receiver will contact via the UBook Freight App if they have any questions or concerns. </p>

        <ion-checkbox></ion-checkbox><span class="checkbox-text">Yes</span>
        <ion-checkbox></ion-checkbox><span class="checkbox-text">No</span>

        <ion-input style="margin-top: 50px;" class="sign-up-input" type="text" placeholder="Preferred # (xxx)xxx - xxxx"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="Email"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="Password"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="Confirm Password"></ion-input>

        <p class="section-description">Are you an owner operator? </p>
        <ion-checkbox></ion-checkbox><span class="checkbox-text">Yes</span>
        <ion-checkbox></ion-checkbox><span class="checkbox-text">No</span>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="MC #"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="EIN #"></ion-input>

        <p class="red-asterisk">*</p>
        <ion-input class="sign-up-input" type="text" placeholder="DOT"></ion-input>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center bottom-buttons">
    <ion-col size="10">
      <div class="spacer"></div>
      <ion-button class="red-button" expand="full" (click)="profilePicture()">
        Next
      </ion-button>
      <ion-button class="cancel-button" expand="full" (click)="cancel()">
        Cancel
      </ion-button></ion-col>
  </ion-row>
</ion-content>
