<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrier Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-row class="ion-justify-content-center">
  <ion-col size="10">
    <h4>Pagination Here</h4>
  </ion-col>
</ion-row> -->

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <h1>Carrier Profile</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" style="position: relative; top: -2px;">
      <form [formGroup]="carrierProfileForm" (submit)="profilePicturePage()">
        <ion-input #firstInput class="sign-up-input" type="text"
        formControlName="firstName" placeholder="First Name"></ion-input>

        <ion-input class="sign-up-input" type="text"
        formControlName="lastName"  placeholder="Last Name"></ion-input>

        <ion-input class="sign-up-input" type="email"
        formControlName="email"  placeholder="Email"></ion-input>

        <!-- Email Validation-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessasges.email">
            <div class="error-message"
              *ngIf="carrierProfileForm
                .get('email')
                .hasError(validation.type) && (carrierProfileForm.get('email')
                .dirty || carrierProfileForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-input class="sign-up-input" maxlength="10" type="phone"
        formControlName="phone"  placeholder="Phone # (xxx)xxx-xxxx"></ion-input>

        <!-- Phone Validation-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessasges.phone">
            <div class="error-message"
              *ngIf="carrierProfileForm
                .get('phone')
                .hasError(validation.type) && (carrierProfileForm.get('phone')
                .dirty || carrierProfileForm.get('phone').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <p class="detail-header">Is this your <span style="font-weight: 700">preferred</span> contact number? When on your route, your preferred contact number is the number a Shipper or Receiver will contact via the UBook Freight App if they have any questions or concerns. </p>

        <ion-checkbox #yesPC checked="true" (ionChange)="preferredContactOption($event)"
        value="yes"></ion-checkbox><span class="checkbox-text">Yes</span>
        <ion-checkbox #noPC (ionChange)="preferredContactOption($event)"
        value="no"></ion-checkbox><span class="checkbox-text">No</span>

        <ion-input *ngIf="this.preferredContact" maxlength="10" style="margin-top: 50px;" class="sign-up-input" type="phone"
        formControlName="preferredContactNumber" placeholder="Preferred # (xxx)xxx - xxxx"></ion-input>

        <!-- Phone Validation-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessasges.phone">
            <div class="error-message"
              *ngIf="carrierProfileForm
                .get('preferredContactNumber')
                .hasError(validation.type) && (carrierProfileForm.get('preferredContactNumber')
                .dirty || carrierProfileForm.get('preferredContactNumber').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <p class="detail-header">Are you an owner operator? </p>
        <ion-checkbox #yesOO (ionChange)="ownerOperatorOption($event)"
        value="yes"></ion-checkbox><span class="checkbox-text">Yes</span>
        <ion-checkbox #noOO checked="true" (ionChange)="ownerOperatorOption($event)"
        value="no"></ion-checkbox><span class="checkbox-text">No</span>

        <div *ngIf="this.ownerOperator">
          <!-- https://usafamilymoving.com/expert-moving-advice/what-is-the-difference-between-usdot-numbers-and-mc-numbers/#:~:text=An%20MC%20number%20(Motor%20Carrier,hauling%20cargo%20across%20state%20lines. -->
          <ion-input class="sign-up-input" type="text"
          formControlName="mc" placeholder="MC #" maxlength="6"></ion-input>

          <!-- https://www.irs.gov/pub/irs-pdf/p1635.pdf -->
          <ion-input class="sign-up-input" type="text"
          formControlName="ein" placeholder="EIN #" maxlength="9"></ion-input>

          <!-- https://www.mpofcinci.com/blog/usdot-numbers-for-commercial-trucks/ -->
          <ion-input class="sign-up-input" type="text"
          formControlName="dot" placeholder="USDOT #" maxlength="6"></ion-input>

          <ion-input class="sign-up-input" type="text"
          formControlName="dot" placeholder="USDOT State" maxlength="6"></ion-input>

        </div>

        <div class="spacer"></div>
        <ion-button class="red-button" expand="full" (click)="profilePicturePage()">
          Next
        </ion-button>

        <ion-button class="cancel-button" expand="full" (click)="cancel()">
          Cancel
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
