ion-toolbar {
  --background: #00C5FF;
}
ion-title {
  font-weight: 600;
}
h5 {
  color: white;
  margin-left: 10px;
  font-weight: 600;
}
.order-dollar-amount {
  display: inline;
  float: right;
  border: 2px solid #00C5FF;
  padding: 8px;
  position: relative;
  top: -17px;
  font-size: 1em;
  font-weight: 600;
}
ion-slides {
  height: 300px;
  background: lightgray;
  --bullet-background: white;
  --bullet-background-active: #D72F37;

  ion-slide {
    box-shadow: inset -120px 1px 100px #2223;
    background-image: url('../../../../../../assets/placeholder-images/logistic-warehouse-courier-shipment-transportation-260nw-1207119298.webp');
    background-size: cover;
    background-position: center;
  }
}

.order-page-buttons {
  margin: 60px auto;
  ion-button {
    margin: 20px auto;
  }
}