.section-header{
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 2em;
}
.detail-header {
  color: #00C5FF;
  margin: 80px 0px 16px 0px;
  font-weight: 600;
  font-size: 1.3em;
}
p{
  font-size: 1.2em;
}
.cancel-button{
  margin-bottom: 100px;
}