<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shipper Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p style="font-size: 1.2em;">You can finish your profile without setting up a payment option, but you will not be able to accept a payment until you have at least one valid payment option.</p>
      </ion-col>
      <ion-col size="10">
        <form action="/charge" method="post" id="payment-form">
          <div class="form-row">
            <label style="color: #00C5FF" class="detail-header" for="card-element">Credit or debit card</label>
            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
          </div>

          <ion-button class="skip-button" expand="full" (click)="skipPaymentInfo()">
            Skip
          </ion-button>
          <ion-button type="submit" class="green-button" expand="full">
            Done
          </ion-button>
          <ion-button class="cancel-button" expand="full" (click)="cancel()">
            Cancel
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
