<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-menu-button></ion-menu-button>
  </ion-fab-button>
</ion-fab>

<ion-tabs>
  <!-- Tab Bar for Mobile -->
  <ion-tab-bar slot="bottom" id="tabBar" class="ion-hide-lg-up">
    <ion-tab-button tab="orders-page">
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pending">
      <ion-label>Pending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="open">
      <ion-label>Open</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

