/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-hamburger-menu {
  margin: 0 14px;
}

ion-input {
  --background: #dde;
  font-size: 1.2em;
  margin: 25px auto;
}

.green-button {
  --background: green;
}
.red-button {
  --background: linear-gradient(128deg, #D72F37 0%, #AE000E 100%);
  border-radius: 5px;
}

.line {
  border-bottom: 6px solid #9993;
  margin-top: 24px;
}

ion-button {
  font-size: 1.1em;
}

.validation-errors {
  color: red;
  font-size: 1.1em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.success-toast {
  --background: green;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
}

.carrier-button,
.shipper-button  {
  --background: linear-gradient(113.52657708203253deg, rgba(41, 41, 41,1) 13.731770833333334%,rgba(47, 53, 61,1) 83.83593749999999%);;
  // --border-width: 2px;
  // --border-color: blue;
  --border-style: solid;
  --border-radius: 5px;
  --box-shadow: none;
  --color: white;
  height: 50px;
  font-weight: 500;
  transition: 0.5s;
}

ion-toolbar {
  --background: linear-gradient(113.52657708203253deg, rgba(41, 41, 41,1) 13.731770833333334%,rgba(47, 53, 61,1) 83.83593749999999%);
  --color: white;
}

.success-toast {
  --border-color: green;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: green;
  --color: white;
  font-size: 1em;
}

.danger-toast {
  font-weight: 600;
  --background: #FF443B;
  --color: white;
  font-size: 1em;
}

