/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-hamburger-menu {
  margin: 0 14px;
}

hr {
  border-top: #eee solid 1px;
}
.spacer {
  margin-top: 50px;
}
p, h1, h2, h3, h4, h4, h6 {
  color: white;
}
h1 {
  font-weight: 800;
  margin: 32px 0px 20px 0px;
}
.success-background {
  --background: #6DD400;
}
ion-input {
  --background: white;
  font-size: 1.2em;
  margin: 10px auto;
}

.bottom-buttons {
  margin: 100px auto;
}

ion-select {
  background: white;
  font-size: 1.2em;
}

.red-asterisk {
  margin: 10px 0px 0px 0px;
  color: red;
  font-size: 3em;
  height: 30px;
}

.sign-up-input {
  --background: none;
  color: white;
  margin: 32px auto;
  height: 50px;
  font-size: 1.2em;
  --placeholder-color: white;
  border: 2px solid white;
}

.sign-up-input:hover {
  border: 2px solid #D72F37;
  --color: #D72F37;
}

.checkbox-text {
  font-size: 2em;
  margin: 0 10px;
  color: white;
}

ion-checkbox {
  height: 40px;
  width: 40px;
  --background-checked: #D72F37;
  --border-color: white;
  --border-color-checked: none;
  --border-radius: 5px;
  --border-style: solid;
  --border-width: 2px;
}

.section-description {
  color: #00C5FF;
  margin: 50px auto;
  font-size: 1.2em;
}

.get-picture-button {
  height: 200px;
  border: 2px dotted white;
  margin-top: 60px;
  padding-top: 30px;
}

.green-button {
  --background: #63d730;
  height: 47px;
  --box-shadow: none;
  --border-radius: 100px;
  font-size: 1.2em;
  font-weight: 600;
}
.red-button {
  --background: linear-gradient(128deg, #D72F37 0%, #AE000E 100%);
  height: 47px;
  --box-shadow: none;
  border-radius: 31px;
  font-size: 1.2em;
  font-weight: 600;
}

.line {
  border-bottom: 6px solid #9993;
  margin-top: 24px;
}

ion-button {
  font-size: 1.1em;
}

.validation-errors {
  color: red;
  font-size: 1.1em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.usertype-button {
  --background: linear-gradient(128deg, #D72F37 0%, #AE000E 100%);
    --box-shadow: none;
    --color: white;
    height: 50px;
    font-weight: 600;
    transition: 0.5s;
    display: block;
    margin: 21px auto;
}

.cancel-button {
  height: 50px;
  font-weight: 600;
  transition: 0.5s;
  --border-radius: 5px;
  --border-radius: 5px;
  --background: rgba(255,255,255,0.2);
  margin-top: 32px;
}

.dark-button {
  height: 50px;
  font-weight: 600;
  transition: 0.5s;
  --border-radius: 5px;
  --border-radius: 5px;
  --background: #2F353D;
  margin-top: 32px;
}

.skip-button {
  height: 50px;
  font-weight: 600;
  transition: 0.5s;
  --background: #005191;
  margin-top: 32px;
}

ion-toolbar {
  --background: linear-gradient(113.52657708203253deg, rgba(41, 41, 41,1) 13.731770833333334%,rgba(47, 53, 61,1) 83.83593749999999%);
  --color: white;
}

.success-toast {
  --border-color: green;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: linear-gradient(90deg, #1fcc6d 19.625%,rgba(30, 203, 108,1) 19.625%,rgba(23, 191, 40,1) 79.625%);;
  --color: white;
  font-size: 1em;
}

.success-login-toast {
  --border-color: green;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: linear-gradient(90deg, #1fcc6d 19.625%,rgba(30, 203, 108,1) 19.625%,rgba(23, 191, 40,1) 79.625%);;
  --color: white;
  font-size: 1.2em;
}

.danger-toast {
  font-weight: 600;
  --background: #FF443B;
  --color: white;
  font-size: 1em;
}

.loading-danger {
  --background: linear-gradient(128deg, #D72F37 0%, #AE000E 100%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
}
.loading-success {
  --background: linear-gradient(128deg, #24b37c 0%, #058051 100%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
}

