<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shipper Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<!-- TODO -->
<!-- Add Pagination Slide for each Sign Up Page -->
<!-- <ion-row class="ion-justify-content-center">
  <ion-col size="10">
    <h4>Pagination Here</h4>
  </ion-col>
</ion-row> -->

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <h1>Shipper Personal Information</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" style="position: relative; top: -2px;">
      <form [formGroup]="shipperPersonalProfileForm" (submit)="shipperProfilePicture()">
        <ion-input formControlName="firstName" #firstInput class="sign-up-input" type="text" placeholder="First Name"></ion-input>

        <ion-input formControlName="lastName" class="sign-up-input" type="text" placeholder="Last Name"></ion-input>

        <ion-input formControlName="phone" class="sign-up-input" type="phone" placeholder="Phone" maxlength="10"></ion-input>

        <ion-input formControlName="email" class="sign-up-input" type="text" placeholder="Email"></ion-input>

        <!-- Email Validation-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessasges.email">
            <div class="error-message"
              *ngIf="shipperPersonalProfileForm
                .get('email')
                .hasError(validation.type) && (shipperPersonalProfileForm.get('email')
                .dirty || shipperPersonalProfileForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="spacer"></div>
        <ion-button class="red-button" expand="full" (click)="shipperProfilePicture()">
          Next
        </ion-button>
        <ion-button class="cancel-button" expand="full" (click)="cancel()">
          Cancel
        </ion-button>

      </form>
    </ion-col>
  </ion-row>
</ion-content>
