<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Forgot Password</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col style="margin: 30px 0;" size="11">
        <h2 style="margin-bottom: 40px;">I am a: </h2>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button class="carrier-button" (click)="carrier()">
              Carrier
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="shipper-button" (click)="shipper()">
              Shipper
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="this.usertype === 'Carrier'" size="11">
        <form [formGroup]="forgotCarrierPasswordForm" (submit)="sendCode()">
          <h1>{{usertype}}</h1>
          <ion-label id="phone-label-carrier">Enter your mobile number</ion-label>
          <ion-input
            [disabled]="useEmail"        id="phone-input"
            type="phone"
            maxlength="10"
            minlength="10"
            formControlName="phone"
            placeholder="(313)-123-4567">+1</ion-input>
            <ion-button [disabled]="!this.forgotCarrierPasswordForm.controls.phone.valid && !this.forgotCarrierPasswordForm.controls.email.valid" type="submit" id="next-button">
                Next
              </ion-button>
        </form>
      </ion-col>
      <ion-col *ngIf="this.usertype === 'Shipper'" size="11">
        <form [formGroup]="forgotShipperPasswordForm" (submit)="sendCode()">
          <h1>{{usertype}}</h1>
          <ion-label id="phone-label-shipper">Enter your mobile number</ion-label>
          <ion-input
            [disabled]="useEmail"        id="phone-input-shipper"
            type="phone"
            maxlength="10"
            minlength="10"
            formControlName="phone"
            placeholder="(313)-123-4567">+1</ion-input>
            <ion-button [disabled]="!this.forgotShipperPasswordForm.controls.phone.valid && !this.forgotShipperPasswordForm.controls.email.valid" type="submit" id="next-button">
                Next
              </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
