<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Forgot Password</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 40px" class="ion-justify-content-center">
      <ion-col size="10">
        <form [formGroup]="forgotPasswordForm" (submit)="sendCode()">
          <ion-label id="phone-label">Enter your mobile number</ion-label>
          <ion-input
            [disabled]="useEmail"        id="phone-input"
            type="phone"
            maxlength="10"
            minlength="10"
            formControlName="phone"
            placeholder="(313)-123-4567">+1</ion-input>
            <p (click)="orEmail()" id="or-email">Or use email</p>
            <p (click)="orPhone()" id="or-phone">Or use phone</p>
            <ion-label id="email-label">Please enter the email address for your account:</ion-label>
          <ion-input id="email-input" type="email"
            formControlName="email" placeholder="Email"></ion-input>
            <!-- Email Validation-->
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessasges.email">
                  <div class="error-message"
                  *ngIf="forgotPasswordForm
                    .get('email')
                    .hasError(validation.type) && (forgotPasswordForm.get('email')
                    .dirty || forgotPasswordForm.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
            </div>
            <ion-button [disabled]="!this.forgotPasswordForm.controls.phone.valid && !this.forgotPasswordForm.controls.email.valid" type="submit" id="next-button">
                Next
              </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
