ion-input {
  --background: #dde;
  font-size: 1.2em;
  margin: 25px auto;
}

ion-label {
  font-size: 1.15em;
}

#or-email {
  color: #2d98da;
  font-weight: 500;
  margin-bottom: 40px;
  animation: slide-left 0.5s ease forwards;
}
#or-phone {
  color: #2d98da;
  font-weight: 500;
  margin-bottom: 40px;
  display: none;
  animation: slide-left 0.5s ease forwards;
}

#next-button {
  margin: 0 auto;
  display: block;
}

#email-label {
  display: none;
  opacity: 0;
  animation: slide-left 0.5s ease forwards;
}
#email-input {
  display: none;
  opacity: 0;
  animation: slide-left 0.5s ease forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}