<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h2>Change your password</h2>
        <!-- <hr class="line"> -->
      </ion-col>
      <ion-col size="11">
        <form [formGroup]='changePasswordForm' (submit)="changePassword()">
          <ion-list>
            <ion-item>
              <ion-input id="password" type="password"
              formControlName="password" placeholder="Password"></ion-input>
              <ion-button id="show-password"
              (click)="togglePasswordDisplay()">
                <ion-icon slot="start" name="eye" ></ion-icon>
              </ion-button>
              <!-- <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
             </ion-button> -->
  
             <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                 <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
              </ion-button>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
            <ion-item>
              <ion-input id="re-enter-password"
              type="password"
              formControlName="reEnterPassword" placeholder="Re-enter Password"></ion-input>
              <ion-button id="show-re-enter-password"
              (click)="toggleReEnteredPasswordDisplay()">
                <ion-icon slot="start" name="eye" ></ion-icon>
              </ion-button>
              <!-- <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
             </ion-button> -->
  
             <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                 <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
              </ion-button>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="changePasswordForm.get('reEnterPassword').hasError(validation.type) && (changePasswordForm.get('reEnterPassword').dirty || changePasswordForm.get('reEnterPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
          </ion-list>

          <ion-button [disabled]="!this.changePasswordForm.valid && this.changePasswordForm.controls.password.value !== this.changePasswordForm.controls.reEnterPassword.value || this.changePasswordForm.valid && this.changePasswordForm.controls.password.value !== this.changePasswordForm.controls.reEnterPassword.value" expand="full" type="submit" id="sign-up-button">
            Next
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
