<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrier Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1>Carrier Driver Info</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <form [formGroup]="carrierDriverInfoForm" (submit)="paymentInfo()">

          <!-- <ion-input class="sign-up-input" type="text" placeholder="MC #"></ion-input> -->

          <ion-input formControlName="licenseNumber" class="sign-up-input" type="text" placeholder="Driver License #"></ion-input>
        </form>

        <ion-select (ionChange)="selectStateOption($event)" placeholder="Driver License State">
          <!-- TODO -->
          <!-- Make array for states with loop. -->
          <ion-select-option value="Michigan">Michigan</ion-select-option>
          <ion-select-option value="">Male</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col (click)="takePictureFront()" class="get-picture-button ion-text-center" size="10">
        <img *ngIf="!this.uploadedPhotoFront" src="../../../../../assets/icons/user-shape.svg" alt="" srcset="">
        <img *ngIf="this.uploadedPhotoFront" src="{{imageSrcFront}}" alt="" srcset="">
        <h3>Tap to get License Photo (Front).  <span>Only .png, .jpg, and .jpeg allowed.</span></h3>
      </ion-col>
      <ion-col (click)="takePictureBack()" class="get-picture-button ion-text-center" size="10">
        <img *ngIf="!this.uploadedPhotoBack" src="../../../../../assets/icons/user-shape.svg" alt="" srcset="">
        <img *ngIf="this.uploadedPhotoBack" src="{{imageSrcBack}}" alt="" srcset="">
        <h3>Tap to get License Photo (Back).  <span>Only .png, .jpg, and .jpeg allowed.</span></h3>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-buttons ion-justify-content-center">
      <ion-col size="10">
        <ion-button class="red-button" expand="full" (click)="paymentInfo()">
          Next
        </ion-button>
        <ion-button class="cancel-button" expand="full" (click)="cancel()">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
