<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Order</ion-title>
    <p style="margin-right: 16px; font-weight: 600;
" slot="end">1/4</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1 class="orders-header">Create New Order </h1>
      </ion-col>
      <ion-col (click)="presets()" class="order-preset-button ion-text-center" size="11">
        <p>Use Order Preset</p>
      </ion-col>
      <ion-col size="11">
        <p class="detail-header">
          Order Details
        </p>

        <form [formGroup]="shipperNewOrderDetailsForm" (submit)="locations()">

          <ion-input formControlName="startingRate" #firstInput  class="sign-up-input" type="text" placeholder="Rate">$</ion-input>

          <ion-select (ionChange)="truckTypeSelection($event)" placeholder="Truck Type">
            <ion-select-option value="DRYVAN">Dry Van</ion-select-option>
            <ion-select-option value="REEFER">Reefer</ion-select-option>
            <ion-select-option value="FLATBED">Flatbed</ion-select-option>
          </ion-select>

          <ion-input formControlName="weight" class="sign-up-input" type="number" placeholder="Weight - Lbs"></ion-input>

          <ion-input formControlName="loadDescription" class="sign-up-input" type="text" placeholder="Description - 100 Characters"></ion-input>

          <p class="detail-header">
            Special Request
          </p>
          <p>Add any additional details or requests to the order. (Example: Call office if no one is at gate) Optional.</p>
          <ion-textarea
            formControlName="specialRequest"
            style="color: white;"
            rows="14"
            spellcheck="true"
            autoGrow="true"
            placeholder="Enter text here:"></ion-textarea>

            <div class="spacer"></div>
            <ion-button type="submit" class="red-button" expand="full">
              Next
            </ion-button>
            <div class="spacer"></div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
