<ion-header>
  <ion-toolbar>
    <ion-title>New Order - Review</ion-title>
    <p style="margin-right: 16px; font-weight: 600;
" slot="end">4/4</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1 class="orders-header">Review </h1>
        <p>Please go over your order details and make any changes necissary before you post the order.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center review-section">
      <ion-col size="11">
        <p class="section-description">Order Details</p>
      </ion-col>
      <ion-col class="order-details" size="11">
        <div style="margin-bottom: 20px;">
          <h3 class="order-dollar-amount">$1,500</h3>
          <div>
            <img style="display: inline;" src="../../../../../assets/icons/map-marker.svg" alt="" srcset="">
            <h5 style="display: inline;">Detroit, MI </h5>
          </div>

          <div style="margin: 10px auto;">
            <img src="../../../../../assets/icons/order-card-line.svg" alt="">
          </div>

          <div>
            <img style="display: inline;" src="../../../../../assets/icons/delivery-truck.svg" alt="" srcset="">
            <h5 style="display: inline;">Miami, FL</h5>
          </div>
        </div>
        <div class="order-card-details">
          <p>PU: Jan 1 06:00 - 09:00</p>
          <p>DL: Jan 2 06:00 - 09:00</p>
          <p>42,000 lbs - Reefer</p>
          <p>Apples, Oranges, and Bananas.</p>
        </div>
      </ion-col>
      <ion-col size="11">
        <ion-button expand="full" class="red-button" (click)="editOrderDetails()">
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center review-section">
      <ion-col size="11">
        <p class="section-description">Location Details</p>
        <ion-button expand="full" class="red-button" (click)="editLocation()">
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center review-section">
      <ion-col size="11">
        <p class="section-description">Photos</p>
        <ion-button expand="full" class="red-button" (click)="editPhotos()">
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center review-section">
      <ion-col size="11">
        <p class="section-description">Broadcast Radius</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center bottom-buttons">
      <ion-col size="10">
        <div class="spacer"></div>
        <ion-button class="green-button" expand="full" (click)="success()">
          Submit
        </ion-button>
        <ion-button class="cancel-button" expand="full" (click)="cancelOrder()">
          Cancel Order
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
