ion-content{
  --background: linear-gradient(-52deg, #2F353D 0%, #292929 82%);;
}

#logo {
  background: lightblue;
  width: 100px; height: 100px;
  margin: 70px auto 40px auto;
}

#download-button {
  background: linear-gradient(90deg, #1fcc6d 19.625%,rgba(30, 203, 108,1) 19.625%,rgba(23, 191, 40,1) 79.625%)
  ;
  -webkit-background: linear-gradient(90deg, rgba(31, 204, 109,1) 19.625%,#1ecb6c 19.625%,rgba(23, 191, 40,1) 79.625%)
  ;
  color: white;
  width: 100%;
  height: 60px;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0;
  border-radius: 0 !important;
  transition: 0.5s;
  position: fixed;
  bottom: 0;
  left: 0;
  // animation: slide-up 0.5s ease 1s forwards;
  // transform: translateY(100%);
}

ion-item {
  ion-input {
    --background: #dde;
    font-size: 1.2em;
    margin: 8px auto;
    --padding-start: 10px;
  }
  ion-label {
    opacity: 0.1;
    font-size: 1.15em;
    --color: #2d98da;
    animation: slide-left 0.5s ease forwards;
  }
}

#login-button,
#sign-up-button,
#forgot-button {
  width: 140px;
  display: block;
  margin: 20px auto;
}

#forgot-button {
  font-size: 0.7em;
  color: #222;
  --background: #eef;
  --box-shadow: none;
}

.usertype-select-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-52deg, #2F353D 0%, #292929 82%);;
  color: #222;
  // text-align: center;
  padding-top: 15%;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s;

  h1 {
    margin-bottom: 40px;
    color: white;
    font-weight: 600;
  }
}

.spacer {
  height: 20px;
}

.usertype-select {
  // background: #ffffff0a;
  // padding: 15px;
  margin: auto 10%;
}

.usertype-buttons{
  margin: 0px auto;
  width: 300px;
}

#bottom-buttons {
  text-align: center;
  position: absolute;
  bottom: 6px;
  height: 100px;
  width: 100%;

  button {
    height: 100px;
    margin: 0;
  }
}

#shipper-button{
  // animation: usertype-button-slide-in 0.5s ease-in forwards;
  // opacity: 0;
  width: 100%;
  height: 100px;
  width: 95%;
}
#carrier-button{
  // animation: usertype-button-slide-in 0.5s ease-in forwards;
  // opacity: 0;
  width: 100%;
  height: 100px;
  width: 95%;
}
#shipper-header,
#carrier-header{
  animation: usertype-header-slide-in 0.5s ease-in forwards;
  opacity: 0;
  color: orangered;
}

.landing-logo {
  height: 200px;
  
}

@keyframes usertype-header-slide-in {
  0%{
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes usertype-header-slide-in {
  0%{
    -webkit-transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}
@keyframes usertype-button-slide-in {
  0%{
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes usertype-button-slide-in {
  0%{
    -webkit-transform: translateY(-20px);
  }
  100%{
    -webkit-transform: translateY(0px);
  }
}