<ion-header style="display: none;">
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="10">
        <h1 style="margin: 50px 0px 0px 0px; color: white">UBook Freight</h1>
        <div style="text-align: center; margin: 0 auto;">
          <img class="landing-logo" src="../../../assets/ubook-logo.svg" alt="" srcset="">
        </div>
      </ion-col>
      <ion-col size="10">
        <h3 id="carrier-header" *ngIf="isCarrier">Carrier</h3>
        <h3 id="shipper-header" *ngIf="isShipper">Shipper</h3>
        <h3 id="shipper-header" *ngIf="isReciever">Reciever</h3>
      </ion-col>
      <ion-col size="10">
        <form [formGroup]="loginForm"
        (ngSubmit)="login()">
          <!-- Email -->
            <ion-input
              class="sign-up-input"
              required
              placeholder="Email"
              inputmode="email"
              formControlName="email"
              type="email">
            </ion-input>
            <!-- Email Validation-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.email">
                <div class="error-message"
                *ngIf="loginForm
                  .get('email')
                  .hasError(validation.type) && (loginForm.get('email')
                  .dirty || loginForm.get('email').touched)"
                (keyup.enter)="login()">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <!-- Password -->
          <ion-input
            required
            class="sign-up-input"
            placeholder="Password"
            inputmode="text"
            formControlName="password"
            type="password"
            (keyup.enter)="login()">
          </ion-input>
            <!-- Password Validation-->
            <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.password">
          <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ validation.message }}
          </div>
            </ng-container>
            </div>
        </form>
      </ion-col>
      <ion-col size="10">
        <ion-button id="login-button" expand="full" class="red-button" (click)="login()">
          Login
        </ion-button>
        <ion-button id="sign-up-button" expand="full"  (click)="signUp()">
          Sign-Up
        </ion-button>
        <ion-button id="forgot-button" expand="full" (click)="forgotPassowrd()">
          Forgot Password
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="bottom-buttons" class="ion-justify-content-center">
      <ion-col size="4">
        <button id="carrier-button" (click)="carrier()">
          Carrier
        </button>
      </ion-col>
      <ion-col size="4">
        <button id="shipper-button" (click)="shipper()">
          Shipper
        </button>
      </ion-col>
      <ion-col size="4">
        <button id="reciever-button" (click)="reciever()">
          Reciever
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer without a border -->
<ion-footer>
  <button (click)="downloadModal()" id="download-button">Download App</button>
</ion-footer>

<div [@inOutAnimation] *ngIf="!usertypeSelected" class="usertype-select-wrapper">
  <div style="text-align: center; margin: 0 auto;">
    <img class="landing-logo" src="../../../assets/ubook-logo.svg" alt="" srcset="">
  </div>
  <div class="spacer"></div>
  <div class="usertype-buttons">
    <h1>I am a:</h1>
    <ion-button class="usertype-button" (click)="carrier()">
      Carrier
      </ion-button>
      <ion-button class="usertype-button" (click)="shipper()">
      Shipper
      </ion-button>
      <ion-button class="usertype-button" (click)="shipper()">
      Reciever
      </ion-button>
  </div>
</div>

