<ion-header style="display: none;">
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="10">
        <h1 style="margin: 40px 0px">Driver</h1>
      </ion-col>
      <ion-col size="10">
        <form [formGroup]="loginForm"
        (ngSubmit)="login(this.loginForm.value)">
          <ion-list class="line-input">
            <ion-item lines="none">
          <!-- Email -->
            <ion-input
              required
              placeholder="Email"
              inputmode="email"
              formControlName="email"
              type="email"
              (keyup.enter)="login(this.loginForm.value)">
            </ion-input>
            </ion-item>
            <!-- Email Validation-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.email">
                <div class="error-message"
                *ngIf="loginForm
                  .get('email')
                  .hasError(validation.type) && (loginForm.get('email')
                  .dirty || loginForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <!-- Password -->
            <ion-item lines="none">
          <ion-input
            required
            placeholder="Password"
            inputmode="text"
            formControlName="password"
            type="password"
            (keyup.enter)="login(this.loginForm.value)">
          </ion-input>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.password">
          <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ validation.message }}
          </div>
            </ng-container>
            </div>
          </ion-list>
        </form>
      </ion-col>
      <ion-col size="10">
        <ion-button id="login-button" (click)="login()">
          Login
        </ion-button>
        <ion-button id="sign-up-button" (click)="register()">
          Sign-Up
        </ion-button>
        <ion-button id="forgot-button" (click)="forgotPassowrd()">
          Forgot Password
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
