<ion-header style="display: none;">
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="10">
        <h1 style="margin: 40px 0px">UBook Freight</h1>
        <h3 id="carrier-header" *ngIf="isCarrier">Carrier</h3>
        <h3 id="shipper-header" *ngIf="isShipper">Shipper</h3>
      </ion-col>
      <ion-col size="10">
        <form [formGroup]="loginForm"
        (ngSubmit)="login()">
          <ion-list class="line-input">
            <ion-item lines="none">
          <!-- Email -->
            <ion-input
              required
              placeholder="Email"
              inputmode="email"
              formControlName="email"
              type="email">
            </ion-input>
            </ion-item>
            <!-- Email Validation-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.email">
                <div class="error-message"
                *ngIf="loginForm
                  .get('email')
                  .hasError(validation.type) && (loginForm.get('email')
                  .dirty || loginForm.get('email').touched)"
                (keyup.enter)="login()">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <!-- Password -->
            <ion-item lines="none">
          <ion-input
            required
            placeholder="Password"
            inputmode="text"
            formControlName="password"
            type="password"
            (keyup.enter)="login()">
          </ion-input>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.password">
          <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ validation.message }}
          </div>
            </ng-container>
            </div>
          </ion-list>
        </form>
      </ion-col>
      <ion-col size="10">
        <ion-button id="login-button" (click)="login()">
          Login
        </ion-button>
        <ion-button id="sign-up-button" (click)="register()">
          Sign-Up
        </ion-button>
        <ion-button id="forgot-button" (click)="forgotPassowrd()">
          Forgot Password
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="bottom-buttons" class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button id="carrier-button-bottom"  expand="full" *ngIf="isCarrier" (click)="shipper()">
          I am a Shipper
        </ion-button>
        <ion-button id="shipper-button-bottom"  expand="full" *ngIf="isShipper" (click)="carrier()">
          I am a Carrier
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer without a border -->
<ion-footer>
  <button id="download-button" style=" border-radius: 0">Install App</button>
</ion-footer>




<div [@inOutAnimation] *ngIf="!usertypeSelected" class="usertype-select">
  <img class="landing-logo" src="../../../assets/ubook-logo.svg" alt="" srcset="">
  <h1>I am a:</h1>
  <ion-button class="carrier-button" (click)="carrier()">
  Carrier
  </ion-button>
  <ion-button class="shipper-button" (click)="shipper()">
  Shipper
  </ion-button>
</div>

