ion-title {
  margin: 0;
}
ion-item{
  --background: none;
  box-shadow: none;
  --padding-start: 8px;
}
ion-input{
  --padding-start: 8px;
}
.badPassword {
  --background: none;
  --box-shadow: none;
  opacity: 0;
  margin-left: 10px;
  animation: password-icons 1s ease-in 0.5s forwards;
}
.badPassword:nth-child(2) {
  --background: none;
  --box-shadow: none;
  opacity: 0;
  margin-left: 10px;
  animation: password-icons 1s ease-in forwards;
}
.goodPassword {
  --background: none;
  --box-shadow: none;
  opacity: 0;
  margin-left: 10px;
  animation: password-icons 1s ease-in 0.5s forwards;
}
.goodPassword:nth-child(2) {
  --background: none;
  --box-shadow: none;
  opacity: 0;
  margin-left: 10px;
  animation: password-icons 1s ease-in forwards;
}

@keyframes password-icons {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}