<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrier Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <h1>Carrier Password</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" style="position: relative; top: -2px;">
      <form [formGroup]="carrierPasswordForm" (submit)="success()">
        <ion-item lines="none">
          <ion-input #firstInput class="sign-up-input" type="password"
        formControlName="password" placeholder="Enter Password"></ion-input>
        <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
          <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
       </ion-button>

       <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
           <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
        </ion-button>
        </ion-item>
        <!-- Password Validation-->
        <div class="validation-errors">
               <ng-container *ngFor="let validation of validationMessasges.password">
                 <div class="error-message"
                   *ngIf="carrierPasswordForm
                     .get('password')
                     .hasError('pattern') && (carrierPasswordForm.get('password')
                     .dirty || carrierPasswordForm.get('password').touched)">
                   {{ validation.message }}
                 </div>
               </ng-container>
        </div>
        <ion-item lines="none">
          <ion-input class="sign-up-input" type="password"
          formControlName="confirmPassword"  placeholder="Confirm Password"></ion-input>
          <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
            <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
         </ion-button>

         <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
             <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
          </ion-button>
        </ion-item>
        <!-- Password Validation-->
        <div class="validation-errors">
               <ng-container *ngFor="let validation of validationMessasges.password">
                 <div class="error-message"
                   *ngIf="carrierPasswordForm
                     .get('confirmPassword')
                     .hasError('pattern') && (carrierPasswordForm.get('confirmPassword')
                     .dirty || carrierPasswordForm.get('confirmPassword').touched)">
                   {{ validation.message }}
                 </div>
               </ng-container>
        </div>

        <div class="spacer"></div>
        <ion-button class="red-button" expand="full">
          Next
        </ion-button>

        <ion-button class="cancel-button" expand="full" (click)="cancel()">
          Cancel
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>