ion-toolbar {
  --background: #8a0083;
}
.candidate{
  background: #eeeeee14;
  padding: 1em;
  margin: 42px auto;
  border-radius: 5px;
}
.star {
  display: inline;
  position: relative;
  height: 20px;
}
.rating {
  display: inline;
  color: #F7B500;
  margin-right: 8px;
  font-weight: 600;
}
.green-button {
  margin: 24px auto;
}