ion-toolbar {
  --background: radial-gradient(50% 150%, #1FCC6D 50%, #1ECB6C 100%);
  box-shadow: 0 2px 31px 0 rgba(0,0,0,0.12);;
  font-weight: 600;
}
ion-textarea {
  color: white;
  border: 2px solid white;
  padding: 8px;
}
ion-textarea:hover {
  color: white;
  border: 2px solid red;
}
.green-button{
  margin: 54px auto;
}