<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col style="margin: 30px 0;" size="11">
        <h2 style="margin-bottom: 40px;">I am a: </h2>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button class="carrier-button" (click)="carrier()">
              Carrier
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="shipper-button" (click)="shipper()">
              Shipper
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="this.usertype === 'Carrier'" size="11">
        <form [formGroup]='registerCarrierForm' (submit)="checkEmailAndPhone()">
          <ion-list>
            <ion-item>
              <ion-input type="text"
                formControlName="first" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text"
              formControlName="last" placeholder="Last Name">
            </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="phone"
              minlength="10"
              formControlName="phone" placeholder="Phone">
              +1</ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text"
              formControlName="insurance" placeholder="Insurance">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email"
              formControlName="email" placeholder="Email"></ion-input>
              <!-- Email Validation-->
              <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.email">
                <div class="error-message"
                *ngIf="registerCarrierForm
                  .get('email')
                  .hasError(validation.type) && (registerCarrierForm.get('email')
                  .dirty || registerCarrierForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
              </div>
            </ion-item>
            <ion-item>
              <ion-input id="password" type="password"
              formControlName="password" placeholder="Password"></ion-input>
              <ion-button id="show-password"
              (click)="togglePasswordDisplay()">
                <ion-icon slot="start" name="eye" ></ion-icon>
              </ion-button>
              <!-- <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
             </ion-button> -->
  
             <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                 <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
              </ion-button>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="registerCarrierForm.get('password').hasError(validation.type) && (registerCarrierForm.get('password').dirty || registerCarrierForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
            <ion-item>
              <ion-input id="re-enter-password"
              type="password"
              formControlName="reEnterPassword" placeholder="Re-enter Password"></ion-input>
              <ion-button id="show-re-enter-password"
              (click)="toggleReEnteredPasswordDisplay()">
                <ion-icon slot="start" name="eye" ></ion-icon>
              </ion-button>
              <!-- <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
             </ion-button> -->
  
             <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                 <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
              </ion-button>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="registerCarrierForm.get('reEnterPassword').hasError(validation.type) && (registerCarrierForm.get('reEnterPassword').dirty || registerCarrierForm.get('reEnterPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
          </ion-list>

          <ion-button [disabled]="!this.registerCarrierForm.valid" expand="full" type="submit" id="sign-up-button">
            Next
          </ion-button>
        </form>
      </ion-col>
      <ion-col *ngIf="this.usertype === 'Shipper'" size="11">
        <form [formGroup]='registerShipperForm' (submit)="checkEmailAndPhone()">
          <ion-list>
            <ion-item>
              <ion-input type="text"
                formControlName="first" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text"
              formControlName="last" placeholder="Last Name">
            </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="phone"
              minlength="10"
              formControlName="phone" placeholder="Phone">
              +1</ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email"
              formControlName="email" placeholder="Email"></ion-input>
              <!-- Email Validation-->
              <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.email">
                <div class="error-message"
                *ngIf="registerShipperForm
                  .get('email')
                  .hasError(validation.type) && (registerShipperForm.get('email')
                  .dirty || registerShipperForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
              </div>
            </ion-item>
            <ion-item>
              <ion-input id="password" type="password"
              formControlName="password" placeholder="Password"></ion-input>
              <ion-button id="show-password"
              (click)="togglePasswordDisplay()">
                <ion-icon slot="start" name="eye" ></ion-icon>
              </ion-button>
              <!-- <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
             </ion-button> -->
  
             <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                 <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
              </ion-button>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="registerShipperForm.get('password').hasError(validation.type) && (registerShipperForm.get('password').dirty || registerShipperForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
            <ion-item>
              <ion-input id="re-enter-password"
              type="password"
              formControlName="reEnterPassword" placeholder="Re-enter Password"></ion-input>
              <ion-button id="show-re-enter-password"
              (click)="toggleReEnteredPasswordDisplay()">
                <ion-icon slot="start" name="eye" ></ion-icon>
              </ion-button>
              <!-- <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
             </ion-button> -->
  
             <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                 <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
              </ion-button>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="registerShipperForm.get('reEnterPassword').hasError(validation.type) && (registerShipperForm.get('reEnterPassword').dirty || registerShipperForm.get('reEnterPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
          </ion-list>

          <ion-button [disabled]="!this.registerShipperForm.valid" expand="full" type="submit" id="sign-up-button">
            Next
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
