h1{
  margin-top: 100px;
}

.total-made {
  color: #1ECB6C;
  font-weight: 600;
  margin-bottom: 54px;
}

.history-order {
  background: #eee2;
  border-right: 8px solid #eee;
  padding: 24px 14px;
  border-radius: 6px;
  box-shadow: 1px 1px 11px #0006;

  h5 {
    color: white;
    margin-left: 10px;
    font-weight: 600;
  }

  .order-dollar-amount {
    display: inline;
    float: right;
    border: 2px solid #eee;
    padding: 8px;
    position: relative;
    top: -17px;
    font-size: 1em;
    font-weight: 600;
  }

  .order-card-details {
    p {
      line-height: 1.3em;
      margin: 0;
      font-size: 0.85em;
    }
  }
}