<ion-content class="success-background">
  <ion-grid>
    <ion-row style="margin-top: 30%;" class="ion-justify-content-center">
      <ion-col size="10">
        <img src="../../../../../assets/icons/success-check.svg" alt="" srcset="">
        <p style="font-size: 1.8em;">You have successfully created a new order! This will be listed as a <b>Pending Order</b>.
        <ion-button class="dark-button" expand="full" (click)="done()">
          Done
        </ion-button>
      </ion-col>
      <ion-col size="10">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
