<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1>License Information</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, expedita quibusdam id assumenda placeat illum fugit esse perferendis omnis minus commodi provident necessitatibus reiciendis nesciunt quas ratione iusto ad libero!</p>
      </ion-col>
      <ion-col size="10">
        <form [formGroup]="licenseForm" (submit)="profilePage()">
          <ion-list>
            <ion-item lines="none">
              <ion-input
                type="text"
                formControlName="licenseNumber"
                placeholder="License #"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Expiration Date</ion-label>
              <ion-input
                type="date"
                formControlName="expirationDate"
                placeholder="Expiration"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
      <ion-col size="10">
        <div id="image-placeholder">
          <p>License Placholder</p>
        </div>
      </ion-col>
      <ion-col size="10">
        <ion-button expand="full" (click)="takePicture()">
          Take Photo
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-button expand="full" (click)="profilePage()">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
