<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Order - Photos</ion-title>
    <p style="margin-right: 16px; font-weight: 600;
" slot="end">3/4</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <h3 style="margin-top: 54px;">Please upload at least <b>2 photos </b> of the load. You can upload as many as 5. </h3>
    </ion-col>
    <ion-col (click)="takePhoto1()" class="get-photo ion-text-center ion-align-self-center" size="11">
      <p *ngIf="!this.photo1"><span class="number">1</span>Tap to get Photo</p>
      <img class="order-photo" *ngIf="this.photo1" src="{{this.photo1}}" alt="" srcset="">
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col (click)="takePhoto2()" class="get-photo ion-text-center ion-align-self-center" size="11">
      <p *ngIf="!this.photo2"><span class="number">2</span>Tap to get Photo</p>
      <img class="order-photo" *ngIf="this.photo2" src="{{this.photo2}}" alt="" srcset="">
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col (click)="takePhoto3()" class="get-photo ion-text-center ion-align-self-center" size="11">
      <p *ngIf="!this.photo3"><span class="number">3</span>Tap to get Photo</p>
      <img class="order-photo" *ngIf="this.photo3" src="{{this.photo3}}" alt="" srcset="">
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col (click)="takePhoto4()" class="get-photo ion-text-center ion-align-self-center" size="11">
      <p *ngIf="!this.photo4"><span class="number">4</span>Tap to get Photo</p>
      <img class="order-photo" *ngIf="this.photo4" src="{{this.photo4}}" alt="" srcset="">
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col (click)="takePhoto5()" class="get-photo ion-text-center ion-align-self-center" size="11">
      <p *ngIf="!this.photo4"><span class="number">5</span>Tap to get Photo</p>
      <img class="order-photo" *ngIf="this.photo5" src="{{this.photo5}}" alt="" srcset="">
    </ion-col>

    <ion-col size="11">
      <div class="spacer"></div>
      <!-- [disabled]="orderPhotos.length < 2"  -->
      <ion-button class="red-button" expand="full" (click)="review()">
      Next
      </ion-button>
      <div class="spacer"></div>
    </ion-col>
  </ion-row>
</ion-content>
