ion-toolbar {
  --background: radial-gradient(closest side at 50% 150%, #1FCC6D 50%, #1ECB6C 100%);
  box-shadow: 0 2px 31px 0 rgba(0,0,0,0.12);
  font-weight: 600;
}
.red-button{
  width: 100%;
}
ion-title {
  font-weight: 600;
}

h1 {
  margin-top: 54px;
}
.order-photo{
  height: 150px;
}
.get-photo {
  background: #eee2;
  border-radius: 5px;
  height: 200px;
  margin: 57px auto;
  border: 2px solid #00C5FF;
  box-shadow: 0 2px 31px 0 rgba(0,0,0,0.12);

  .number{
    background: #D72F37;
    margin-right: 8px;
    box-shadow: 0 2px 11px 0 rgb(0 0 0 / 43%);
    padding: 0.4em 0.7em;
    border-radius: 100px;
  }

  p {
    position: relative;
    top: 64px;
    font-size: 1.3em;
    font-weight: 600;
  }
  // span {
  //   position: relative;
  //   right: 20px;
  //   font-size: 2em;
  //   font-weight: 600;
  //   border-radius: 100px;
  //   background: red;
  //   height: 40px;
  //   width: 40px;
  //   padding: 0 11px;
  // }
}