<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <img class="page-hamburger-menu" src="../assets/Hamburger-menu.svg" alt="" srcset="">
      </ion-button>
    </ion-buttons>
    <ion-title>Carrier Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Carrier Status -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h4 class="availability-status" *ngIf="available" style="color: green;">
          <img style="margin-right: 20px;     position: relative; top: 6px;" src="../../../../assets/3-dot-icon.svg" alt="Available Indicator" srcset="">
          Available</h4>
          <p class="availability-status-message" *ngIf="available">You will be notified of open orders.</p>
        <h4 class="availability-status" *ngIf="!available" style="color: orangered;">
          <img style="margin-right: 20px; position: relative; top: 6px;" src="../../../../assets/3-dot-icon-inactive.svg" alt="Available Indicator" srcset="">
          Unavailable</h4>
          <p class="availability-status-message" *ngIf="!available">You will not be notified of any new orders.</p>
      </ion-col>
    </ion-row>

    <!-- Illustration -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-list>
          <ion-item (click)="currentOrder()" detail id="current-order" lines="none">
            <ion-label>Current Order</ion-label>
          </ion-item>
          <ion-item (click)="allOrders()" detail id="all-orders" lines="none">
            <ion-label>All Orders</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Toggle -->
    <ion-row class="toggle-wrapper ion-justify-content-center">
      <ion-col class="ion-text-center" size="10">
        <div class="ion-text-right">
          <ion-toggle (ionChange)="toggle($event)">
          </ion-toggle>
          <p *ngIf="!available">Toggle to set status to <span style="color: green ; font-weight: 500">Available</span></p>
          <p *ngIf="available">Toggle to set status to <span style="color: orangered; font-weight: 500;">Unavailable</span></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-bottom-drawer id="drawer" [minimumHeight]="50" [dockedHeight]="300"
[distanceTop]="200">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <div class="drawer-icon-wrapper ion-text-center">
          <ion-icon size="large" style="color: white;" name="chevron-up-outline"></ion-icon>
        </div>
        <div></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-bottom-drawer>
