<ion-header>
  <ion-item>
    <ion-avatar (click)="profilePage()" slot="start">
      <img src="../../../../assets/placeholders/carrier.png">
    </ion-avatar>
      <p style="margin-left: 10px;">{{currentDate}}</p>
  </ion-item>
</ion-header>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-menu-button></ion-menu-button>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-grid>
    <!-- Carrier Status -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h4 class="availability-status" *ngIf="available">
          <img style="margin-right: 20px;     position: relative; top: 6px;" src="../../../../assets/3-dot-icon.svg" alt="Available Indicator" srcset="">
          Available</h4>
          <p class="availability-status-message" *ngIf="available">You will be notified of open orders.</p>
        <h4 class="availability-status" *ngIf="!available" style="color: white">
          <img style="margin-right: 20px; position: relative; top: 6px;" src="../../../../assets/3-dot-icon-inactive.svg" alt="Available Indicator" srcset="">
          Unavailable</h4>
          <p class="availability-status-message" *ngIf="!available">You will not be notified of any new orders.</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h4 class="section-description">Today's Order.</h4>
        <ion-list>
          <ion-item (click)="currentOrder()" detail id="current-order" lines="none">
            <ion-label>Active Order: Detroit, MI, 48202</ion-label>
          </ion-item>
          <ion-item (click)="allOrders()" detail id="all-orders" lines="none">
            <ion-label>My Orders</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Toggle -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="8">
        <ion-toggle (ionChange)="toggle($event)">
          Available
        </ion-toggle>
        <p *ngIf="!available">Toggle to set status to <span style="color: #1FCC6D ; font-weight: 600">Available</span></p>
        <p *ngIf="available">Toggle to set status to <span style="color: #D72F37; font-weight: 600;">Unavailable</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-drawer [available]="available"></app-drawer>
