<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reciever Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <h1>Reciever Profile Picture</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col (click)="takePicture()" class="get-picture-button ion-text-center" size="10">
      <img *ngIf="!this.uploadedPhoto" src="../../../../../assets/icons/user-shape.svg" alt="" srcset="">
      <img *ngIf="this.uploadedPhoto" src="{{imageSrc}}" alt="" srcset="">
      <h3>Tap to get Profile Picture. <span>Only .png, .jpg, and .jpeg are allowed.</span></h3>
    </ion-col>
    <ion-col class="ion-text-center" size="10">
      <ion-button class="skip-button" expand="full" (click)="skipAlert()">
        Skip
      </ion-button>

      <div class="spacer"></div>
      <ion-button class="red-button" expand="full" (click)="paymentInfo()">
        Next
      </ion-button>
      <ion-button class="cancel-button" expand="full" (click)="cancel()">
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>