<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/carrier-home/"></ion-back-button>
      <ion-title>Open Order</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-bottom: 100px">
    <!-- Timer -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
      <!-- Time -->
        <div *ngIf="!timerLoading" [ngClass]="{
          'after-five-minutes': this.timer.after5Minutes,
          'after-ten-minutes': this.timer.after10Minutes,
          'after-fourteen-minutes': this.timer.after14Minutes,
          'expired': this.timer.expired
      }" id="timer-wrapper" class="ion-text-center">
          <h1 id="timer" *ngIf="this.timer.minutes < 15">{{this.timer.minutes}}:{{this.timer.seconds}}</h1>
          <h1 id="timer" *ngIf="this.timer.minutes >= 15">Expired</h1>
        </div>
        <h1>Your Rate: $1,500</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quaerat, inventore dignissimos porro fugiat modi incidunt quo iure omnis maxime aspernatur facere rem officia sapiente neque fuga voluptatem. Nisi, exercitationem?</p>
        <ion-button class="green-button" (click)="respondWithRate()">
          Submit Rate
        </ion-button>
        <ion-button class="cancel-button" (click)="editRate()">
          Edit Rate
        </ion-button>
        </ion-col>
      <!-- Line -->
      <ion-col class="line" size="12">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px;" class="ion-justify-content-center">
      <!-- Order Information -->
      <ion-col size="11">
        <div style="margin-bottom: 20px;">
          <div>
            <img style="display: inline;" src="../../../../../assets/icons/map-marker.svg" alt="" srcset="">
            <h5 style="display: inline;">{{this.PUAddressOne}}, {{this.PUAddressTwo}}, {{this.PUCity}}, {{this.PUState}}, {{this.PUZip}}</h5>
          </div>

          <div style="margin: 10px auto;">
            <img src="../../../../../assets/icons/order-card-line.svg" alt="">
          </div>

          <div>
            <img style="display: inline;" src="../../../../../assets/icons/delivery-truck.svg" alt="" srcset="">
            <h5 style="display: inline;">{{this.DLAddressOne}}, {{this.DLAddressTwo}}, {{this.DLCity}}, {{this.DLState}}, {{this.DLZip}}</h5>
          </div>
        </div>
      </ion-col>
      <ion-col class="order-information" size="11">
        <p>PU: {{this.PUDate}}</p>
        <p>DL: {{this.PUDate}}</p>
        <p>{{this.weight}} lbs - {{this.truckType}}</p>
        <p>{{this.loadDescription}}</p>
      </ion-col>
      <!-- Special Requests -->
      <ion-col class="order-special-request" size="11">
        <h3 class="detail-header">Special Instructions.</h3>
        <p>{{this.specialRequest}}</p>
      </ion-col>
      <!-- Line -->
      <ion-col class="line" size="12">
      </ion-col>
      <!-- Photos -->
      <ion-col size="11">
        <!-- TODO -->
        <!-- Add Photos -->
        <h3 class="detail-header">Photos (3)</h3>
        <p>1/3 - Please swipe to view all photos</p>
      </ion-col>
      <ion-col class="order-photos" size="11">
        <ion-slides scrollbar="true" pager="true" [options]="slideOpts">
          <!-- Each Photo needs to be -->
          <ion-slide>
          </ion-slide>
          <ion-slide>
          </ion-slide>
          <ion-slide>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
