.star {
  display: inline;
  position: relative;
  left: 16px;
  top: 3px;
  height: 20px;
}
.rating {
  display: inline;
  color: #F7B500;
  font-weight: 600;
}
.rater-picture{
  height: 60px;
  width: 60px;
}
.rating-wrapper{
  margin: 50px auto;
}