.ratings-text{
  font-size: 1.25em;
}
.rater-picture{
  height: 75px; width: 75px;
  background: lightgrey;
  border-radius: 100px;
}
.rating-wrapper{
  margin: 50px auto;
}
.stars-container{
  background: #eee1;
  width: 180px;
  height: 32px;
  border-radius: 5px;
}