<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Shipper Phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-top: 50px;" class="ion-justify-content-center">
    <ion-col class="logo-wrapper" size="10">
      <h3 class="detail-header">Edit your Phone #.</h3>
      <form [formGroup]="editPhoneForm" (submit)="editPhone()">
        <ion-input formControlName="newPhone" class="sign-up-input" type="text" placehlolder="this.phone">+1</ion-input>
        <div class="spacer"></div>
        <ion-button class="red-button" expand="full" type="submit">
          Edit
        </ion-button>
        <ion-button class="cancel-button" expand="full" (click)="dismiss()">
          Cancel
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
