<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1 class="orders-header">Order Presets</h1>
        <p>Order Presets are pre-made order details that you can resuse over and over again for re-occurring orders of similar weight, contents, location, and delivery location. </p>
        <ion-button style="margin: 0 auto;" class="green-button" (click)="createPreset()">
          Create New Preset
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h3 class="detail-header">Please select a Preset</h3>
        <div class="preset">
          <h2><b>From</b>: Detroit, MI, 48202</h2>
          <h2><b>To</b>: Miami, FL, 33109</h2>
          <h2><b>Rate</b>: $1500</h2>
          <h2><b>Truck</b>: Dry Van</h2>
          <h2><b>Weight</b>: 40,000 lbs</h2>
          <h2><b>Load</b>: Oranges & Apples</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
