<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> Back
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1 class="orders-header">Order Presets</h1>
        <p>Order Presets are pre-made order details that you can resuse over and over again for re-occurring orders of similar weight, contents, location, and delivery location. </p>
        <ion-button style="margin: 0 auto;" class="green-button" (click)="createPreset()">
          Create New Preset
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <p class="section-description">Presets</p>
      <ion-col size="11">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
