p{
  font-size: 1.2em;
  margin: 24px auto;
}
.preset{
  background: #eee1;
  color: white;
  margin: 54px auto;
  border-radius: 8px;
  padding: 0.9em;
  border: 2px solid #1FCC6D;

  h2{
    margin: 8px auto;
    font-size: 1em;
  }
}