<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/shipper-orders/new"></ion-back-button>
    </ion-buttons>
    <ion-title>Presets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1 class="orders-header">Order Presets</h1>
        <p>Order Presets are pre-made order details that you can resuse over and over again for re-occurring orders of similar weight, contents, location, and delivery location. </p>
        <ion-button style="margin: 0 auto;" class="green-button" (click)="createPreset()">
          Create New Preset
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <div class="preset">
          <h1>Preset Name</h1>
          <div>
            <h2 class="preset-datatype">From:</h2>
            <h2 class="preset-data">11223 Detroit, MI, 48202</h2>
          </div>
          <div>
            <h2 class="preset-datatype">To:</h2>
            <h2 class="preset-data">33333 Miami, FL, 33109</h2>
          </div>
          <div>
            <h2 class="preset-datatype">Rate:</h2>
            <h2 class="preset-data">$1500</h2>
          </div>
          <div>
            <h2 class="preset-datatype">Truck:</h2>
            <h2 class="preset-data">Dry Van</h2>
          </div>
          <div>
            <h2 class="preset-datatype">Weight:</h2>
            <h2 class="preset-data">40,000 lbs</h2>
          </div>
          <div>
            <h2 class="preset-datatype">Load:</h2>
            <h2 class="preset-data">Oranges & Apples</h2>
          </div>
          <ion-toolbar class="preset-toolbar">
            <ion-buttons slot="start">
              <ion-button style="--color: red" (click)="deleteAlert()">
                Delete
              </ion-button>
              <ion-button (click)="editPreset()">
                Edit
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button class="preset-select" (click)="usePreset()">
                Select
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
