<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1>{{usertype}}</h1>
        <h4>A 6 digit code has been sent to :</h4>
        <h3>{{phone}}</h3>
        <!-- <h3>{{code}}</h3> -->
      </ion-col>
      <ion-col size="10">
        <form [formGroup]="enterCodeForm" (submit)="licensePage()">
           <ion-list>
            <ion-item lines="none">
              <ion-input
                type="text"
                formControlName="code"
                minlength="6"
                maxlength="6"
                placeholder="Enter Code"></ion-input>
            </ion-item>
          </ion-list>
          <ion-item (click)="sendSMSCode()" lines="none">
            <ion-label >Send new code to phone</ion-label>
          </ion-item>
          <ion-item lines="none" id="send-to-email-link">
            <ion-label
            (click)="orEmail()"
            style="animation-delay: 0.2s;">Send code to email</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="email"
            id="email"
            formControlName="email" placeholder="Enter Email"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-button id="send-to-email" (click)="sendEmailCode()">
              Send
            </ion-button>
          </ion-item>

          <ion-button [disabled]="!codesMatch" expand="full" type="submit" id="enter-code-button">
            Sign Up
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

<ion-row *ngIf="registered" class="registered-popin ion-justify-content-center">
  <ion-col size="10">
    <h1>Registered!</h1>
    <p>Thanks for signing up with UBook Frieght. You can now login.</p>
  </ion-col>
</ion-row>



