<!-- Carrier --><!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-menu-button></ion-menu-button>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1>Shipper Profile</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="stars-container" push="1" size="4">
        <p class="rating">Rating - 4/5</p>
        <img src="../../../../../assets/icons/star-icon.svg" alt="" srcset="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col push="1" size="10">
        <ion-button class="ratings" (click)="ratingModal()">
          View Ratings
        </ion-button>
        <h4 class="section-description">Tap any section to edit information.</h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-list class="list">
          <ion-item lines="none" (click)="profilePictureModal()">
            <ion-avatar slot="start">
              <img src="../../../../assets/placeholders/shipper.png">
            </ion-avatar>
            <ion-label>Profile Picture</ion-label>
          </ion-item>
          <ion-item lines="none"(click)="nameModal()">
            <ion-label>
              <h2>Name</h2>
              <p>{{shipper.firstName}} {{shipper.lastName}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none"(click)="emailModal()">
            <ion-label>
              <h2>Email</h2>
              <p>{{shipper.email}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="phoneModal()">
            <ion-label>
              <h2>Phone</h2>
              <p>{{shipper.phone}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="businessProfileModal()">
            <ion-label>
              <h2>Business Profile</h2>
              <p><b>Name: </b>{{shipper.businessName}}</p>
              <p><b>Address 1: </b>{{shipper.businessAddressOne}}</p>
              <p><b>Address 2: </b>{{shipper.businessAddressTwo}}</p>
              <p><b>City: </b>{{shipper.businessCity}}</p>
              <p><b>State: </b>{{shipper.businessState}}</p>
              <p><b>Zip: </b>{{shipper.businessZip}}</p>
              <p><b>Phone: </b>{{shipper.businessPhone}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="businessLogoModal()">
            <ion-avatar slot="start">
              <img src="../../../../assets/ubook-logo.svg">
            </ion-avatar>
            <ion-label>Business Logo</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="paymentModal()">
            <ion-label>
              <h2>Payment Option</h2>
              <p>{{shipper.card.brand}} - {{shipper.card.last4}}</p>
            </ion-label>
          </ion-item>
          <ion-item style="margin-top: 16px; margin-bottom: 200px;" lines="none" (click)="passwordModal()">
            <ion-label>
              <h2>Password</h2>
              <p>*******</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
