ion-grid {
  --ion-grid-padding: 0px;
}
ion-col {
  padding: 0px;
}
h1 {
  margin-top: 200px;
}
h6 {
  font-size: 0.7em;
  color: #555;
}
.star {
  display: inline;
  position: relative;
  left: 16px;
  top: 3px;
  height: 20px;
}
.rating {
  display: inline;
  color: #F7B500;
  font-weight: 600;
}