<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1>Download App</h1>
        <p>No need to search the App Stores! After you hit the “Download” button, your device will ask if you want to add UBook Freight to your device’s Homescreen, just like if you were to download an app from an App Store.</p>
        <div></div>
      </ion-col>
      <ion-col size="6">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button (click)="dismiss()" id="download-button-finale">Download</button>
    <button (click)="dismiss()" id="cancel-button">Cancel</button>
  </ion-toolbar>
</ion-footer>
